.myDefaultNode{
  border-radius: 0px;
  line-height: normal;
}

.myNoBodyNode{
  height:320px;
}

.myDesktopNode{
  width:120px;
  height:320px;
}

.myDesktopNode .v-line::before{
  border-left:1px solid;
  content:'';
  margin-left: .25em;
  margin-right: .25em;
}


.myDesktopNode .photo{
  padding: 0.3em;
  
}

.myDesktopNode .name{
  font-size:13px;
}
.myDesktopNode .title{
  color:black;
  font-size:11px;
}



.myDesktopNode .tel-outer, .myDesktopNode .email-outer{
  position: relative;
}
.myDesktopNode .tel-inner, .myDesktopNode .email-inner{
  position: absolute;
  display: none;
  padding: 10px;
  border-top: 4px solid #eb6100;
  background: #FFF;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 3px 4px rgba(150, 150, 150, 0.2);
}
.myDesktopNode .tel-outer:hover .tel-inner, .myDesktopNode .email-outer:hover .email-inner{
  display:block;
}
.myDesktopNode .tel, .myDesktopNode .email{
  color:black;
  font-size:12px;
  font-weight: normal;
}

.myDesktopNode .duties{
  color:black;
}



@media (min-width: 992px) {
  .myDesktopNode{
    width: 160px;
  }
  .myDesktopNode .name{
    font-size:14px;
  }
  .myDesktopNode .title{
    font-size:12px;
  }
}

@media (min-width: 1281px) {
  .myDesktopNode{
    width:200px
  }
}

@media (min-width: 1781px) {
  .myDesktopNode{
    width:240px;
  }
  .myDesktopNode .photo{
    padding: 0.3em 1em;
    
  }
}

.myMobileNode .photo{
  width:30%;
}
.myMobileNode .name,.myMobileNode .title,.myMobileNode .tel,.myMobileNode .email{
  color:black;
}

.gcio{
  background: #FAA51A;
}

.dgcio{
  background:#FBC161;
}

.agcio{
  background:#FEDCA4;
}

.csm, .sta, .cso{
  background:#EDEFEE;
}
