.area1,
.area2,
.area3,
.area4 {
  text-align: left;
  padding: 0;
}
.area1 .title,
.area1 .person,
.area2 .title,
.area2 .person,
.area3 .title,
.area3 .person,
.area4 .title,
.area4 .person {
  padding: 0.5em;
}

.area1 .title,.area1 {
  background: #ffff99;
}
.area1 .person {
  background: #ffff00;
}

.area2 .title,.area2 {
  background: #ccffff;
}
.area2 .person {
  background: #99ccff;
}

.area3 .title,.area3 {
  background: #ffcc99;
}
.area3 .person {
  background: #ffcc00;
}

.area4 .title,.area4 {
  background: #ccffcc;
}
.area4 .person {
  background: #99cc00;
}
