.director{
    background:#A4E0FC;
    border:1px solid black;
}
.division{
    background:#E8F7E9;
    border:1px solid black;
}

.title{
    font-size: 1.125em;
    font-weight: bold;
    color: #0000aa;
}

.phone{
    color:blue;
}